<!DOCTYPE html>
<html>
  <head>
    <title>Create Profile</title>
  </head>

  <main class="d-flex justify-content-center w-100 h-75 d-inline-block align-self-center bg-light">
    <div>
      <h2>Create Profile</h2>
      <%= form_tag students_path, :class => 'form' do %>
        <%= label :student, :first_name, 'First Name', :class => 'col-form-label'%>
        <%= text_field :student, :first_name, :class => 'form-control',value:@student.first_name%>
        <%= label :student, :last_name, 'Last Name', :class => 'col-form-label' %>
        <%= text_field :student, :last_name, :class => 'form-control',value:@student.last_name %>
        <%= label :student, :major, 'Select Your Major', :class => 'col-form-label'  %>
        <%= select :student, :major, ["Math", "Computer Science"], include_blank: true %>
        <%= label :student, :track, 'Select Your Track', :class => 'col-form-label'  %>
        <%= select :student, :track, ["Software Systems", "Machine Learning"], include_blank: true %>
        <%= label :student, :graduation_year, 'Expected Graduation Year', :class => 'col-form-label'  %>
        <%= text_field :student, :graduation_year, :class => 'form-control' %>
        <%= label :student, :graduation_semester, 'Expected Graduation Semester', :class => 'col-form-label'  %>
        <%= select :student, :graduation_semester, ["Spring", "Summer", "Fall"] %>
        <br/>
        <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', students_path, :class => 'btn btn-secondary' %>
      <% end %>
    </div>
  </main>
</html>
