<!DOCTYPE html>
<html>
  <head>
    <title>Edit Profile</title>
  </head>

  <main class="d-flex justify-content-center w-100 h-75 d-inline-block align-self-center bg-light">
    <div>
      <h2>Edit Profile</h2>
      <%= form_tag student_path(@student), :method => :put do %>
        <%= label :student, :first_name, 'First Name', :class => 'col-form-label'%>
        <%= text_field :student, :first_name, :class => 'form-control',value:@student.first_name%>
        <%= label :student, :last_name, 'Last Name', :class => 'col-form-label' %>
        <%= text_field :student, :last_name, :class => 'form-control',value:@student.last_name %>
        <%= label :student, :major, 'Select Your Major', :class => 'col-form-label' %>
        <%= select :student, :major, ["Math", "Computer Science"], :selected => @selected_major %>
        <%= label :student, :track_id, 'Select Your Track', :class => 'col-form-label'  %>
        <%= select :student, :track_id, @trackNames, :selected => @selected_track%>
        <br/>
        <%= label :student, :graduation_year, 'Expected Graduation Year', :class => 'col-form-label'  %>
        <%= text_field :student, :graduation_year, :class => 'form-control' %>
        <%= label :student, :graduation_semester, 'Expected Graduation Semester', :class => 'col-form-label'  %>
        <%= select :student, :graduation_semester, ["Spring", "Summer", "Fall"], :selected => @selected_semester%>
        <br/>
        <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', student_path(@student), :class => 'btn btn-secondary' %>
      <% end %>
    </div>
    <div class = "overflow-auto">
        <%= form_tag student_path(@student), :method => :put do %>
        <%= label :course, :id, 'Courses Taken', :class => 'col-form-label'  %>
        <%= select :course, :id, Course.all.order(:course_number).collect {|c| [[ c.subject, c.course_number, c.course_name ].join(" "), c.id] }, include_blank: true %>
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
        <% end %>
        <table>
          <tbody>
            <% @student.courses.each do |course| %>
              <tr>
                <td>
                  <%= course.course_identifier %> <%= course.course_name %>
                </td>
                <td><%= link_to 'Remove', remove_course_path(@student,course), method: :post, :id => "#{course.course_number}_remove"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <footer class="mt-auto pb-3">
          <% if logged_in? %>
              <a class="btn btn-secondary" <%= link_to 'Back to Audit Degree', student_path(@current_user.id) %></a>
          <% else %>
              <%= link_to 'Back', students_path, :class => 'btn btn-secondary' %>
          <% end %>
      </footer>
      
    </div>
  </main>

</html>
