<!DOCTYPE html>
<html>
  <head>
    <title>Audit Degree</title>
  </head>

  <main class="d-flex justify-content-center w-100 h-75 d-inline-block align-self-center bg-light">
    <div>
      <p id="notice"><%= notice %></p>
      <h1>Audit Degree<h1>
      <ul id="audit">
        <li>
          Name:
          <%= @student.first_name %> <%= @student.last_name %>
        </li>
        <li>
          Email:
          <%= @student.email%>
        </li>
        <li>
          Graduation Year:
          <%= @student.graduation_year %>
        </li>
      </ul>
      <%= link_to 'Edit', edit_student_path(@student) %> |
      <%= link_to 'Back', students_path %>
      <%= stylesheet_link_tag 'students' %>
    </div>
  </main>

</html>