<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Audit Degree</title>
  </head>

  <% flash.each do |type, msg| %>
    <div class="flash">
      <%= msg %>
    </div>
  <% end %>

  <main class="d-flex justify-content-center w-100 h-75 d-inline-block align-self-center bg-light">
    <div>
      <h2>Audit Degree<h1>
    <div>
    <div id="table-like" class="requirement-box">
      <div>
        <span>
          Name:
          <%= @student.first_name %> <%= @student.last_name %>
        </span>
        <span>
          Email:
          <%= @student.email%>
        </span>
      </div>
      <div>
        <span>
          Track:
          <%= Track.find(@student.track_id).name%>
        </span>
        <span>
          Graduation Year:
          <%= @student.graduation_semester %> <%= @student.graduation_year %>
        </span>
      </div>
      <div>
        <span>
          <%= link_to 'Edit Profile', edit_student_path(@student) %>
        </span>
      </div>
    </div>
    <% @breadth_req[:groups].each do |group| %>
      <div id="requirement-table" class="requirement-box">
        <% if group[:info][:satisfied] %>
          <div>
            <title>✅ <%= @breadth_req[:name]%> <%= group[:name] %>:</title>
          </div>
        <% else %>
          <div>
            <title>☑️ <%= @breadth_req[:name]%> <%= group[:name] %>:</title>
          </div>
          <% group[:info][:courses_pending].each do |course| %>
            <div>
              <course>
                <%= course.course_identifier %> <%= course.course_name %>
              </course>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% @track_req.each do |req| %>
      <div id="requirement-table" class="requirement-box">
        <% if req[:info][:satisfied] %>
          <div>
            <title>✅ <%= req[:name]%> :</title>
          </div>
        <% else %>
          <div>
            <title>☑️ <%= req[:name]%> :</title>
          </div>
          <% req[:info][:courses_pending].each do |course| %>
            <div>
              <course>
                <%= course.course_identifier %> <%= course.course_name %>
              </course>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= stylesheet_link_tag 'students' %>
  </main>

</html>