<!DOCTYPE html>
<html>
    <head>
        <title>Schedule</title>
    </head>

    <main class="d-flex justify-content-center w-100 h-75 d-inline-block align-self-center bg-light">
        <div class="d-flex flex-column w-75 schedule justify-content-center">
            <div class="cd-schedule loading mr-0">
                <div class="timeline">
                    <ul>
                        <li><span>07:00</span></li>
                        <li><span>08:00</span></li>
                        <li><span>09:00</span></li>
                        <li><span>10:00</span></li>
                        <li><span>11:00</span></li>
                        <li><span>12:00</span></li>
                        <li><span>13:00</span></li>
                        <li><span>14:00</span></li>
                        <li><span>15:00</span></li>
                        <li><span>16:00</span></li>
                        <li><span>17:00</span></li>
                        <li><span>18:00</span></li>
                        <li><span>19:00</span></li>
                        <li><span>20:00</span></li>
                        <li><span>21:00</span></li>
                    </ul>
                </div> <!-- .timeline -->

                <div class="events">
                    <ul class="wrap">
                        <li class="events-group">
                            <div class="top-info"><span>Monday</span></div>
                            <ul>
                                <% @schedule.each do |course| %>
                                    <% if !course.weekday.nil? %>
                                        <% if course.weekday.include? "M" %>
                                            <li class="single-event" data-start="<%= parseTime(course.start_time_1) %>" data-end="<%= parseTime(course.end_time_1) %>" data-content="event-abs-circuit" data-event="event-1">
                                                <%= course.subject %><%= course.course_number %><br>
                                                <%= course.course_name %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </ul>
                        </li>

                        <li class="events-group">
                            <div class="top-info"><span>Tuesday</span></div>
                            <ul>
                                <% @schedule.each do |course| %>
                                    <% if !course.weekday.nil? %>
                                        <% if course.weekday.include? "T" %>
                                            <li class="single-event" data-start="<%= parseTime(course.start_time_1) %>" data-end="<%= parseTime(course.end_time_1) %>" data-content="event-abs-circuit" data-event="event-1">
                                                <%= course.subject %><%= course.course_number %><br>
                                                <%= course.course_name %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </ul>
                        </li>

                        <li class="events-group">
                            <div class="top-info"><span>Wednesday</span></div>
                            <ul>
                                <% @schedule.each do |course| %>
                                    <% if !course.weekday.nil? %>
                                        <% if course.weekday.include? "W" %>
                                            <li class="single-event" data-start="<%= parseTime(course.start_time_1) %>" data-end="<%= parseTime(course.end_time_1) %>" data-content="event-abs-circuit" data-event="event-1">
                                                <%= course.subject %><%= course.course_number %><br>
                                                <%= course.course_name %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </ul>
                        </li>

                        <li class="events-group">
                            <div class="top-info"><span>Thursday</span></div>
                            <ul>
                                <% @schedule.each do |course| %>
                                    <% if !course.weekday.nil? %>
                                        <% if course.weekday.include? "R" %>
                                            <li class="single-event" data-start="<%= parseTime(course.start_time_1) %>" data-end="<%= parseTime(course.end_time_1) %>" data-content="event-abs-circuit" data-event="event-1">
                                                <%= course.subject %><%= course.course_number %><br>
                                                <%= course.course_name %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </ul>
                        </li>

                        <li class="events-group">
                            <div class="top-info"><span>Friday</span></div>
                            <ul>
                                <% @schedule.each do |course| %>
                                    <% if !course.weekday.nil? %>
                                        <% if course.weekday.include? "F" %>
                                            <li class="single-event" data-start="<%= parseTime(course.start_time_1) %>" data-end="<%= parseTime(course.end_time_1) %>" data-content="event-abs-circuit" data-event="event-1">
                                                <%= course.subject %><%= course.course_number %><br>
                                                <%= course.course_name %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex w-25 flex-column justify-content-center">
            <div class="ml-0">
                <% @courses.each do |course| %>
                    <%= course.course_name %><br>
                    <%= course.subject %> <%= course.course_number %> (<%= course.course_identifier %>)<br>
                    3 credits<br><br>
                    Call Number: <%= course.call_number %><br>
                    Day and Time: <%= course.weekday %> <%= parseTimePretty(course.start_time_1) %>-<%= parseTimePretty(course.end_time_1) %><br>
                    Instructor: <%= course.instructor_name %><br>
                    <%= hidden_field_tag :courses_offering_id, course.id %>
                    <%= link_to 'Add', add_schedule_path(course.id), method: :post %>
                    <%= link_to 'Remove', delete_schedule_path(course.id), method: :delete %>
                    <hr>
                <% end %>
            </div>
        </div>
    </main>

</html>