<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
  </head>

  <main class="d-flex justify-content-center w-100 h-75 d-inline-block align-self-center bg-light">
    <div class="d-flex flex-column">

    <div class="mb-auto">
        <p id="notice"><%= notice %></p>
        <h1>Schedule</h1>
    </div>


    <%= week_calendar schedule: @courses do |time, course| %>
        <span class="date-str"><%= time %></span>
        <% course.each do |c| %>
            <div>
                <%= c.course_name %>
            </div>
        <% end %>
    <% end %>

    <% @courses %>



    <footer class="mt-auto pb-3">
        <% if params[:id] %>
            <%= link_to 'Back', '/students/' + params[:id], :class => 'btn btn-secondary' %>
        <% else %>
            <%= link_to 'Back', students_path, :class => 'btn btn-secondary' %>
        <% end %>
    </footer>

    </div>
    </main>

</html>