<%= week_calendar(number_of_weeks: 1) do |date| %>
    <% 6.upto(23).each do |hour| %>
        <div>
            <%= Time.parse("#{hour}:00").strftime("%l %P") %>
        </div>
    <% end %>
<% end %>


<%= week_calendar(start_date_param: :start_date, attribute: :start_time_1, end_attribute: :start_time_2) courses: @courses do |date, courses| %>
    <% 7.upto(23).each do |hour| %>
        <div>
            <%= Time.parse("#{hour}:00").strftime("%l%P") %>
        </div>
        <div>
            <%= courses.each do |course| %>
                <%= if !course.empty? %>
                <%= course.course_identifier %>
                <% end %>
        </div>
        <% end %>
    <% end %>
<% end %>