<!DOCTYPE html>
<html>
  <head>
    <title>Cplan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="d-flex h-100 bg-primary">
    <div class="container-fluid d-flex w-100 vh-100 p-0 mx-auto flex-column">
      <header class = "mb-auto">
        <div class="d-flex justify-content-between">
          <div id="cplan-logo" class="col align-self-center">
            <%= link_to(image_tag("cplan-logo.png"), home_path) %>
          </div>
          <% if logged_in? %>
            <div class="dropdown align-self-center mr-5">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.first_name %> <%= current_user.last_name %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/home">Home</a>
                <a class="dropdown-item" href="/courses">Courses</a>
                <a data-method="delete" class="dropdown-item" href="/logout">Log Out</a>
              </div>
            </div>
          <% else %>
            <div class="align-self-center mr-5">
              <%= link_to '/auth/google_oauth2' do %>
                <%= image_tag 'https://cuit.columbia.edu/sites/default/files/styles/cu_crop/public/content/LionMail%20logo.png?itok=fLp1cPo7', :class => 'sign-img'%>
              <% end %>
              <%= link_to 'Sign in', '/auth/google_oauth2', :class => 'sign-in'%>
            </div>
          <% end %>
        </div>
      </header>
      <%= yield %>
      <footer class = "mt-auto">
        <%= image_tag("Columbia_logo.png", {:style => "width:25%; margin-bottom:1.5%; margin-left:1.5%"}) %>
      </footer>
    </div>
  </body>

</html>